<html>
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
      <h2>About Us</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin et diam
        lobortis, volutpat metus eget, maximus magna. Aenean venenatis magna a
        neque porttitor commodo. Fusce a faucibus massa. Phasellus eleifend
        ornare tortor eget consectetur. Duis ac nulla gravida, semper quam non,
        bibendum quam. Vivamus tincidunt sapien nec enim blandit dapibus.
        Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere
        cubilia curae; Nunc eget volutpat lectus, dictum varius neque. Nam
        varius sagittis elit vitae imperdiet. Aenean ac purus in leo
        pellentesque fringilla ac vitae justo. Etiam nec erat in enim tristique
        convallis. Nunc est sapien, gravida tristique tincidunt id, rutrum et
        eros.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin et diam
        lobortis, volutpat metus eget, maximus magna. Aenean venenatis magna a
        neque porttitor commodo. Fusce a faucibus massa. Phasellus eleifend
        ornare tortor eget consectetur. Duis ac nulla gravida, semper quam non,
        bibendum quam. Vivamus tincidunt sapien nec enim blandit dapibus.
        Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere
        cubilia curae; Nunc eget volutpat lectus, dictum varius neque. Nam
        varius sagittis elit vitae imperdiet. Aenean ac purus in leo
        pellentesque fringilla ac vitae justo. Etiam nec erat in enim tristique
        convallis. Nunc est sapien, gravida tristique tincidunt id, rutrum et
        eros.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin et diam
        lobortis, volutpat metus eget, maximus magna. Aenean venenatis magna a
        neque porttitor commodo. Fusce a faucibus massa. Phasellus eleifend
        ornare tortor eget consectetur. Duis ac nulla gravida, semper quam non,
        bibendum quam. Vivamus tincidunt sapien nec enim blandit dapibus.
        Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere
        cubilia curae; Nunc eget volutpat lectus, dictum varius neque. Nam
        varius sagittis elit vitae imperdiet. Aenean ac purus in leo
        pellentesque fringilla ac vitae justo. Etiam nec erat in enim tristique
        convallis. Nunc est sapien, gravida tristique tincidunt id, rutrum et
        eros.
      </p>
    </div>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
